<h1>All Guests</h1>

<% @guests.each do |guest| %>
  <div id="guest-<%= guest.id %>">
    <h3><%= link_to "#{guest.name}", "/guests/#{guest.id}" %></h3>
    <p>Created at: <%= guest.created_at %></p>
  </div>
<% end %>
