<h2><%= @guest.name %></h2>

<h3>List of Rooms</h3>
  <% @guest.rooms.each do |room| %>
    <p>Suite: <%= room.suite %><br>
    <p>Nightly Rate: $<%= room.rate %><br>
    <p>Hotel: <%= room.hotel.name %><br>
    <% end %>
